@map-height: 400px;
@detail-height: 300px;

.MC {
  &-Header {

  }

  &-YearSlider {
    margin-bottom: 50px;
  }

  &-Map {
    width: 100%;
    height: @map-height;
  }

  &-MovieDetail {
    height: @detail-height;
  }

  &-MovieItem {
    cursor: pointer;
    &:hover {
      background-color: lightgrey;
    }
    &-selected {
      background-color: lightgrey;
    }
  }

  &-MovieList {
    height: @map-height;
    overflow-y: scroll;
  }

  &-Panorama {
    width: 100%;
    height: @detail-height;
  }

  &-Page {

  }

  &-SearchBar {
    width: 100%;
  }
}
