@map-height: 400px;

.MC {
  &-Header {

  }

  &-YearSlider {
    margin-bottom: 50px;
  }

  &-Map {
    width: 100%;
    height: @map-height;
  }

  &-MovieList {
    height: @map-height;
    overflow-y: scroll;
  }

  &-Page {

  }

  &-Panorama {
    width: 100%;
    height: 300px;
  }
  &-SearchBar {
    width: 100%;
  }

}
