@map-height: 400px;
@detail-height: 300px;

.MC {
  &-Header {

  }

  &-YearSlider {
    margin-bottom: 20px;
  }

  &-Map {
    width: 100%;
    height: @map-height;
  }

  &-MovieDetail {
    height: @detail-height;

    &-Title {
      margin-bottom: 10px;
    }

    &-InfoRow {
      margin-bottom: 3px;
    }
  }

  &-MovieItem {
    cursor: pointer;
    &:hover {
      background-color: lightgrey;
    }
    &-selected {
      background-color: lightgrey;
    }
  }

  &-MovieList {
    height: @map-height;
    overflow-y: scroll;
  }

  &-Panorama {
    width: 100%;
    height: @detail-height;

    &-hidden {
      visibility: hidden;
    }
  }

  &-TitleRow {
    margin-top: 10px;
  }

  &-SearchBar {
    width: 100%;
  }
}
